@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'PT Sans Caption', sans-serif;
}
body p {
	font-size: 17px;
}
*:focus { 
	outline: transparent !important; 
	box-shadow: none !important;
}
.navbar {
    background-color: #efeef3 !important;
/*    opacity: 0.95;
*/    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.30);
	box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.30);
}
.fas {
	opacity: 0.6;
}
.nav-link {
	margin: 0rem;
	font-size: 1.1em;
}
.icon-text {
	margin: 1rem;
}
.navbar-item {
	margin: 0.1rem;
	padding: 0.5rem;
}
.navbar-item:hover {
	text-shadow: 0 0 2px #bfbfbf;
}
.header-caption {
	display: grid;
	color: #222;
	justify-content: center;
	align-content: center;
	padding: 15% 0 8% 0;
	margin: 0;
	background: url("https://images.unsplash.com/photo-1423768164017-3f27c066407f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1500&q=80") no-repeat center;
	background-size: 100% auto;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.30);
	box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.30);
}
.header-caption h1 {
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #444;
	text-align: center;
	font-size: 400%;
}
.header-caption h4 {
	text-align: center;
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #444;
	padding-bottom: 0rem;
	font-size: 260%;
}
#btn-container {
	padding: 0;
	margin: 0;
	display: inline-flex;
}
.btn-circle {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 27px;
	border-radius: 25px;
	color: #222;
	margin: 1rem;
	padding: 0px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
.btn-circle:hover {
	background-color: #A6A2AB;
	text-shadow: 0 0 5px #000;
	color: #ddd;
}
.one-sec h1 {
	font-size: 200%;
	padding: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
hr {
	color: #222;
}
.one-sec {
	padding-right: 10%;
	padding-left: 10%;
}
.list {
	background-color: #efeef3;
	margin: auto;
	width: 100%;
	padding: 30px 15%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: justify;
}
.grid {
	display: inline-flex;
}
.icon {
/*	display: flex;
*/	align-items: center;
	justify-content: center;
	color: #222;
	padding: 20px;
}
.icons {
	opacity: 0.35;
}
.fa-lightbulb {
	padding: 15px;
	padding-top: 0
}
.description {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.three-column-area {
	padding: 70px;
}
footer {
	background-color: #333;
	color: #ddd;
	padding-top: 25px;
}
footer hr {
	width: 50%;
	opacity: .5;
}
.footer-links ul, .footer-links li, .footer-links a {
	color: #ccc;
    list-style: none;
    padding-right: 20px;
}
.footer-links a:hover {
	color: #ccc;
	text-shadow: 1px 1px 4px #aaa;
	text-decoration: none;
}
.copyright {
	background-color: #2a2a2a;
	padding: 25px 0 5px;
}

/*---Media Queries---*/
@media (max-width: 992px) and (min-width: 769px){
}
@media (max-width: 768px) and (min-width: 577px) {
	.header-caption { 
		top: 30%;
	}
	.header-caption h1 {
		font-size: 350%;
}
	.header-caption h4 {
		font-size: 160%;
		font-weight: 400;
		padding-bottom: 0%;
	}
	.btn-circle {
		width: 35px;
		height: 35px;
		text-align: center;
		font-size: 18px;
		border-radius: 25px;
		margin: .5rem;
		padding: 0px;
	}
	.one-sec h1 {
		padding: 15px;
	}
	.list {
		padding: 30px 8%;
	}
}
@media (max-width: 576px) {
	.header-img {
		height: 340px;
	}
	.header-caption { 
		text-align: center;
		margin-top: 50px;
		padding-bottom: 8%
	}
	.header-caption h1 {
		font-size: 280%;
	}
	.header-caption h4 {
		font-size: 175%;
	}
	.btn-circle {
		width: 40px;
		height: 40px;
		font-size: 20px;
		padding: 0px;
		margin: 0 5px;
	}
	.one-sec h1 {
		padding: 15px;
	}
	.list {
		padding: 25px;
		padding-left: 0;
	}
	.fa-lightbulb, .fa-battery-full, .fa-hands-helping {
		font-size: 40px !important;
	}
	.description {
		padding-left: 0px;
	}
}